#### Topics
- creating tables

Name|Age|Loc|Des
----|----|----|----
Ruthu|24|Guntur|Trainee
Nandini|24|Krishna|S/W
Student|20|Visakhapatnam|Beginner

<font color=blue>Welcome to Markdown course</font>
<p style="color:red">html tag</p>

#### markdown
> hi

### Python
> it is a general purpose,high level and interpreted programming language
    > 1. **General purpose**
        - Used for multiple purposes such as scientific computation and development
    > 2. **High level** and 
        - user understandable language
    > 3. **Interpreted language**
        - there is no compilation in the middle,gives us the line by line execution
        
- Features
    1. platform independent
        - cmd,IDLE,pycharm,anaconda3
    2. dynamically typed
        - there is no type declaration,data types allocated ar run time
    3. semi-object oriented language
        - it supports oops concepts
    4. syntax free
        - no need to start with libraries/package
    5. it is both case sensitive and space sensitive
        - indentation is main
    6. easy to learn and simple to code
        - seems to be english language
        
- **Applications of python**
    - it is the build block of all current running technologies  Data Analysis,Artificial,Machine Learning(parts of Data Science), Cloud Computing,Robotics,IoT,Development etc.
    - simplicity
    - contains inbuilt modules
    - College(4 year)--branches--ground level works-->students
    - Now a days everyone is using the data and generating data(social)

<H1>html code</H1>paragraph</p>
<p>

#### Tasks
1. Highlight the sub text in the sentence as ouput
    - I am from 'GVPCE' located at xxx
2. w r p to print the middle char of your name
    - i/p:priya;o/p:i
3. w r p to print 
    - i/p:Code
    - o/p:CCoCodCode

print() is the predefined to display the ouput to the user
1. prints the message
    - anything enclosed in either '' or double ""
1. prints the value
    - doen't need quotations

In [5]:
print("I am Trainer cum Developer") # message/text

I am Trainer cum Developer

In [6]:
print(',mdfkks890-0sd7f76yhmn dsm,')

,mdfkks890-0sd7f76yhmn dsm,

In [7]:
print(''' mutiple quotation''') # string

 mutiple quotation

In [8]:
# print the numbers/values
print(90)

90

In [9]:
print(89)

89

In [10]:
x='priya'
x[2]

'i'

In [11]:
# 7 length # should be dynamic

In [12]:
print("I am 'Ruthu' working as 'Trinee'")

I am 'Ruthu' working as 'Trinee'

In [13]:
print('I am "Ruthu"')

I am "Ruthu"

In [14]:
name='alekhya' # read from user
a=len(name) # fine
b=a//2 # exact division
print(name[b])

k

In [15]:
# i/p:word:middle 2 chars
## wwoworword

In [3]:
st=input()
res=""
n=len(st)
for num in range(n): #4:3
    res+=st[:num+1] # range,index[st,sp]sp-1
res

void

'vvovoivoid'

#### Errors in python
- an invalid statement in the program is called an error
- 3types
    1. syntax error
        - error related to syntax
    2. value error
        - type error,value error,key error,file not found error
    3. indentation error
        - error related to space

In [4]:
print("started with double and ended with single')

SyntaxError: EOL while scanning string literal (<ipython-input-4-cc2de4ec9dc5>, line 1)

In [8]:
print('hi')

hi

In [9]:
 name='r'

In [10]:
     "sometimes"

'sometimes'

In [11]:
# if,loops,functions (block of code) indicated by :

In [12]:
# can you add any 2 integers
# subtract your age from your mother's age
# your name from your father's/mother's name

In [13]:
# integer
mothers_age=45
age=20
mothers_age-age

25

In [14]:
mom='srikanya'
you='student'
mom-you

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
# can you add your age and name

In [16]:
5*3 # 5times

15

In [21]:
3*'prathyusha' # 5times duplicated

'prathyushaprathyushaprathyusha'

In [18]:
90+45

135

In [19]:
'first'+'second'

'firstsecond'