In [1]:
# using functions
# print() and return

In [4]:
def is_even(n):
    if n%2==0:
        print("hi")
    else:print("hey")
is_even(9)

hey

In [5]:
for dig in range(1,20):
    if is_even(dig):
        print(dig)

hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey

In [6]:
def is_even(n):
    if n%2==0:
        return True
    else:return False
#is_even(9)
for num in range(1,11):
    if is_even(num):
        print(num,end=" ")

2 4 6 8 10

In [9]:
def is_even(n):
    if n%2==0:
        print("hi")
    else:print("hey")
#is_even(9)
for dig in range(1,20):
    is_even(dig)

hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey
hi
hey

In [13]:
def is_even(n):
    if n%2==0:
        return True
    else:return False
#is_even(9)
for num in (range(1,11)):
    print(is_even(num))

False
True
False
True
False
True
False
True
False
True

### Today Topics
1. strings
2. data structures

##### strings
- collection of characters(a/c to C)
- anything that is enclosed in quotations called as string
- str() is the predefined fun denotes the string
- single char considered as str

In [15]:
type('a')

str

In [16]:
type("college")

str

In [17]:
type("7850809dns;;bkhiofjy")

str

In [18]:
type("albhets984905")

str

In [20]:
# string declaration
name="nandini"
print("I am",name)

I am nandini

In [21]:
student='deepika'
print("myself",student)

myself deepika

In [22]:
st='''CR'''
print("I am",st,"of the class")

I am CR of the class

In [23]:
st

'CR'

In [24]:
student

'deepika'

In [25]:
name

'nandini'

##### dynamic string reading from user
- string is a datatype
- immutable 
- input()

In [28]:
clg=input()
print("I am from",clg)

IIIT-Nuzvid
I am from IIIT-Nuzvid

In [29]:
clg

'IIIT-Nuzvid'

##### string methods
- there are the functions can only apply on strings
- dir(str)-->directory(string)
- count()
- index()
- find()
- replace()
- endswith()
- startswith()
- format()
- strip()
- lstrip()
- rstrip()
- split()
- center()
- join() 
- etc

In [31]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [32]:
word=input()
print(word)

visakha is famous for steel
visakha is famous for steel

In [33]:
word

'visakha is famous for steel'

In [36]:
# word.title()
new=word.title()
new

'Visakha Is Famous For Steel'

In [37]:
word

'visakha is famous for steel'

In [38]:
new.swapcase()

'vISAKHA iS fAMOUS fOR sTEEL'

In [39]:
word.startswith('v')

True

In [40]:
word.endswith('k')

False

In [41]:
word.index('a')

3

In [42]:
word # 2times:index of first occurence

'visakha is famous for steel'

In [43]:
word.find('f') #

11

In [45]:
word.index('p') # error raising

ValueError: substring not found

In [46]:
word.find('p') # -1 for non existed data

-1

In [47]:
word.capitalize()# capitalize the first char of string

'Visakha is famous for steel'

In [48]:
word.title()

'Visakha Is Famous For Steel'

In [49]:
word.split() # splits the string into list where " " has occured

['visakha', 'is', 'famous', 'for', 'steel']

In [50]:
"#".join(st)

'C#R'

In [53]:
"@".join(word)

'v@i@s@a@k@h@a@ @i@s@ @f@a@m@o@u@s@ @f@o@r@ @s@t@e@e@l'

In [57]:
# center with some memory size
cn=word.center(40)
cn

'      visakha is famous for steel       '

In [55]:
len(word)

27

In [56]:
word.center(30)

' visakha is famous for steel  '

In [58]:
cn.lstrip() #

'visakha is famous for steel       '

In [59]:
cn.rstrip()

'      visakha is famous for steel'

In [60]:
cn.strip()

'visakha is famous for steel'

In [61]:
"89009".isalpha()

False

In [62]:
"90".isdigit()

True

In [63]:
word.isalpha()

False

In [64]:
word

'visakha is famous for steel'

In [66]:
name.isalpha()

True

In [67]:
name

'nandini'

In [68]:
name.isspace()

False

In [69]:
'9'.isdigit()

True

In [70]:
'90'.isnumeric()

True

In [73]:
pwd='abc123'
pwd.isalnum()

True

In [74]:
# string.format()
name,age=input(),int(input())
print("myself {0} and I am {1} years old".format(name,age))

Ruthu
25
myself Ruthu and I am 25 years old

In [75]:
# string.format()
name,age=input(),int(input())
print("myself {} and I am {} years old".format(name,age))

Ruthu
27
myself Ruthu and I am 27 years old

In [76]:
# f-string:string.format()
word # replace a ,f,s with new chars

'visakha is famous for steel'

In [77]:
word.replace('a','#')

'vis#kh# is f#mous for steel'

In [78]:
word.replace(('a','i'),'hi')

TypeError: replace() argument 1 must be str, not tuple

In [79]:
# read a string that contains specials,alphabets,digits
# work with all the string methods
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [80]:
word.isupper()

False

In [81]:
word.islower()

True

In [82]:
word.lower()

'visakha is famous for steel'

In [83]:
word.upper()

'VISAKHA IS FAMOUS FOR STEEL'

In [84]:
word.casefold()

'visakha is famous for steel'

#### Data Structures
- way of organizing the data in a format
- 4 data structures
    1. tuple
    2. list
    3. set and
    4. dictionary

#### tuple
- it is immutable data structure
- heteregoneous data items
- cannot be modified/update further
- tuple() is the pre defined funct
- dir(tuple)
    - 2 methods
        1. index
        2. count

In [85]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [86]:
t=(1,2,'hi',4,5,'hello','python',90.56,98)
for item in t:
    print(item)

1
2
hi
4
5
hello
python
90.56
98

In [87]:
for ix in range(len(t)):
    print(t[ix])

1
2
hi
4
5
hello
python
90.56
98

##### index
- index is the notation that represents the data in background
- 2types of indices
    1. +ve indexing
        - starts from 0 to len(iterable)-1
        - traverse from left to right
    2. -ve indexing
        - travers from right to ;eft
        - starts from -1 to -infinite

In [88]:
t

(1, 2, 'hi', 4, 5, 'hello', 'python', 90.56, 98)

In [89]:
t[2] # 3rd element in t

'hi'

In [90]:
t[-1] # last data item

98

In [91]:
t[-2] # last but one

90.56

In [92]:
t[-4] # 4th element from last

'hello'

##### slicing
- cut into pieces
- extract / retrive the some part of data using index

In [93]:
t

(1, 2, 'hi', 4, 5, 'hello', 'python', 90.56, 98)

In [94]:
len(t)

9

In [95]:
t[2:6] # 6 exclude:2,3,4,5

('hi', 4, 5, 'hello')

In [96]:
t[:6] # from first

(1, 2, 'hi', 4, 5, 'hello')

In [97]:
t[4:] # upto the end

(5, 'hello', 'python', 90.56, 98)

In [98]:
t

(1, 2, 'hi', 4, 5, 'hello', 'python', 90.56, 98)

In [99]:
t[::2] # alternate item

(1, 'hi', 5, 'python', 98)

In [100]:
t[::-1]

(98, 90.56, 'python', 'hello', 5, 4, 'hi', 2, 1)

In [101]:
t[::3]

(1, 4, 'python')

In [102]:
t.count('python') # frequency of python

1

In [103]:
t.index(2)

1

#### list
- most efficient data structures
- list() represents the list
- denoted by []
- mutable in nature
- heterogenous data structures
- dir(list)

In [104]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [105]:
word

'visakha is famous for steel'

In [106]:
word.split()

['visakha', 'is', 'famous', 'for', 'steel']

In [107]:
# creating list using str
li=[2,3,14,5,'hi','data','college',90.45,(3,5,6,0)]
li

[2, 3, 14, 5, 'hi', 'data', 'college', 90.45, (3, 5, 6, 0)]

In [109]:
for item in li:
    print(item,end=' ')

2 3 14 5 hi data college 90.45 (3, 5, 6, 0)

In [110]:
# list of range of values
val=list(range(1,10))
val

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
val.append('hi') # appends new data

In [114]:
val

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hi', 'hi']

In [115]:
new=val.copy()
new

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'hi', 'hi']

In [116]:
new.clear()

In [117]:
new

[]

In [120]:
new.insert(4,'clg')

In [121]:
new

['clg', 'clg']

In [124]:
val.insert(3,'student')

In [125]:
val

[1, 2, 3, 'student', 'student', 4, 5, 6, 7, 8, 9, 'hi', 'hi']

In [126]:
val.remove('student') # removes the perticular element

In [127]:
val

[1, 2, 3, 'student', 4, 5, 6, 7, 8, 9, 'hi', 'hi']

In [128]:
val.remove(3)

In [129]:
val

[1, 2, 'student', 4, 5, 6, 7, 8, 9, 'hi', 'hi']

In [130]:
val.pop() # returns the deleted last item by defult

'hi'

In [132]:
val.pop(4) # 4 is the index

6

In [133]:
val.remove('new')

ValueError: list.remove(x): x not in list

In [134]:
val

[1, 2, 'student', 4, 7, 8, 9, 'hi']

In [135]:
val.extend([2,3,4])
val

[1, 2, 'student', 4, 7, 8, 9, 'hi', 2, 3, 4]

In [136]:
val.append((5,6,9))
val

[1, 2, 'student', 4, 7, 8, 9, 'hi', 2, 3, 4, (5, 6, 9)]

In [137]:
[1,2,3]+[5,6,7]# concatenation

[1, 2, 3, 5, 6, 7]

In [143]:
# how to remove duplicate values from the list
nums=[3,4,5,6,3,4,2,8,9,10,3,7]
for item in nums:
    print(item,nums.count(item))

3 3
4 2
5 1
6 1
3 3
4 2
2 1
8 1
9 1
10 1
3 3
7 1

In [144]:
unq=[]
for item in nums:
    if item not in unq:
        unq.append(item)
unq

[3, 4, 5, 6, 2, 8, 9, 10, 7]

#### set
- a well defined collection of objects
- set()
- represented by {}
- mutable in nature
- it eleminates the duplicates

In [145]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [146]:
A={9,8,45,67,20,1,2,3,4,9,10,2,14,34}
A

{1, 2, 3, 4, 8, 9, 10, 14, 20, 34, 45, 67}

In [147]:
set(nums)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [148]:
# homogenous data structure

In [149]:
A

{1, 2, 3, 4, 8, 9, 10, 14, 20, 34, 45, 67}

In [152]:
A.add(6) # adds the new data into set

In [153]:
A

{1, 2, 3, 4, 6, 8, 9, 10, 14, 20, 34, 45, 67}

In [154]:
S={'h',9,3,4,12,90}
S # a/c to ascii values

{12, 3, 4, 9, 90, 'h'}

In [155]:
A-S # elements of S present A

{1, 2, 6, 8, 10, 14, 20, 34, 45, 67}

In [156]:
A.difference(S)

{1, 2, 6, 8, 10, 14, 20, 34, 45, 67}

In [157]:
A.difference_update(S)

In [158]:
A

{1, 2, 6, 8, 10, 14, 20, 34, 45, 67}

In [159]:
S.issubset(A)

False

In [160]:
S

{12, 3, 4, 9, 90, 'h'}

In [161]:
A

{1, 2, 6, 8, 10, 14, 20, 34, 45, 67}

In [163]:
A.issuperset(S)

False

In [164]:
A.union(S)

{1, 10, 12, 14, 2, 20, 3, 34, 4, 45, 6, 67, 8, 9, 90, 'h'}

In [165]:
A.intersection(S)

set()

In [166]:
A.symmetric_difference(S) # non-similar

{1, 10, 12, 14, 2, 20, 3, 34, 4, 45, 6, 67, 8, 9, 90, 'h'}

In [167]:
S.isdisjoint(A)

True

In [169]:
S

{12, 3, 4, 9, 90, 'h'}

In [170]:
dir(S)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [171]:
S

{12, 3, 4, 9, 90, 'h'}

In [172]:
S.remove(20)

KeyError: 20

In [173]:
S.discard(20)

In [174]:
S

{12, 3, 4, 9, 90, 'h'}

In [175]:
S.remove(12)

In [176]:
S

{3, 4, 9, 90, 'h'}

In [177]:
S.discard(4)

In [178]:
S

{3, 9, 90, 'h'}

In [179]:
A.intersection_update(S)

In [180]:
A

set()

In [181]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [182]:
A

set()

In [184]:
A.update(S)

In [185]:
A

{3, 9, 90, 'h'}

In [186]:
A.update({5,6,7,8,910})

In [188]:
A

{3, 5, 6, 7, 8, 9, 90, 910, 'h'}