### Today Topics
- Review of Python Basics

#### keywords
- a keyword is a reserved word which has special meaning and purpose
- 35 keywords in python

In [2]:
import keyword
keys=keyword.kwlist
print(keys)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keys)

35

Boolean Data
    - True,Fte)
    alse,None
and :logical operator
as:alias
assert:class(attribu

#### variable
- a variable is a conatiner that stores the data
    - let x=10/5 --> stroing/assigning 10 to the var x
- var can store only one data item at a time
- there is no type declaration

In [4]:
# marks 
marks=90
print(marks)

90

In [5]:
print("marks=",marks)

marks= 90

In [6]:
# how to declare variable 
for i in range(5):
    n=int(input()) # n is single var

9
33
4
5
6

In [7]:
# in a single line separeting by camma
x,y,z=1,2,3
print(x,y,z) #

1 2 3

In [8]:
print(x,y,z,sep=",")

1,2,3

In [9]:
# end the print() 
print(x,y,z,sep=',',end='.')

1,2,3.

In [10]:
# second way of declaration
a=b=c=10
print(a,b,c,sep=",")

10,10,10

#### datatypes
- type of the data to which it belongs to
    - int,float,str(general)
    - bin,complex(scientific)

In [11]:
data=input() # reads str data by default
print(data)

hi hello
hi hello

In [12]:
# integer int(input()) # explicit conversion by the user
num=int(input()) 
print('value is ',num)

9
value is  9

In [13]:
type(num)

int

In [14]:
type(data)

str

##### type conversions
- conversion of data type of variable from one format to another
    1. implicit conversion
        - default conversion by the interpreter
    2. explicit
        - user conversion
            - int(input()),float(input()),bin(val)

In [15]:
# int and float
90+34.8

124.8

In [16]:
## try to add '90'+89
'90'+90

TypeError: can only concatenate str (not "int") to str

In [17]:
int('90')+90

180

In [18]:
x='90'
y=45
print(x+float(y)) # type error

TypeError: can only concatenate str (not "float") to str

In [19]:
# what is the binary format of integer 10
#10:1010
bin(10)
# 8 places:0b1010

'0b1010'

In [20]:
print(bin(10))

0b1010

In [21]:
# int(input()),float(input())
# can you read bin values from user

In [24]:
bin(input()) # bin(str)

90

TypeError: 'str' object cannot be interpreted as an integer

In [25]:
bin(int(input())) # double conversion

9

'0b1001'

##### operators in python
- anything that performs an operation b/w operands
    - ex:a+b: + is the op'r performs addition op'n
- arithmetic operators
    - +,-,/,*,//,**,%,
- assignment
    =,+=,-=,*=,/=
- boolean
    - True,False,None
- bitwise
    - | (or),& (logical and), ^ (XOR)
- comparisional/relational
    - >,>=,<,<=,==.!=
- identity
    - is,is not
- logical
    - and,or,not
- membership
    - int,not in
- sep,end(used in print())
    - sep="delimeter",end='delimeter'

In [26]:
bin(96.5)

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
bin(96.5)

TypeError: 'float' object cannot be interpreted as an integer

In [29]:
# bitwise means operating on each bit
# value:binary format (bits--0/1)
x,y=5,6
x|y

7

In [30]:
x=5
bin(x)

'0b101'

In [31]:
bin(6)

'0b110'

In [32]:
1 0 1
1 1 0
=====
1 1 1

SyntaxError: invalid syntax (<ipython-input-32-120b8d0e2f49>, line 1)

int('0b111')

111==7

In [36]:
#bitwise and (&)
x,y=5,6
''' 1 0 1 
1 1 0
=====
1 0 0 ==4 '''
x&y

4

In [37]:
# read 2 values from user and perform bitwise |,&

In [38]:
x^y # XOR

3

1 0 1<br>
1 1 0<br>
0 1 1

In [40]:
x=int(input())
y=int(input())
o_r=x|y
a_nd=x&y
xor=x^y
print(o_r,a_nd,xor)

9
12
13 8 5

##### membership
- in,not in

In [41]:
9 in 908 # 3 digit value

TypeError: argument of type 'int' is not iterable

In [42]:
'o' in "onion" # 5 length str

True

In [45]:
ch=input()
st=input()
ch in st # statement

h
haritha

True

In [46]:
ch not in st # statement

False

In [47]:
# identity operator
#is,is not

In [48]:
x

9

In [49]:
y

12

In [50]:
x is y

False

In [51]:
x is not y

True

In [52]:
id(x)

1744034144

In [53]:
id(y)

1744034192

In [55]:
a=b=10
print(id(a),id(b))

1744034160 1744034160

##### conditional statements
- putting some conditions in our program
- if,else,elif

#### syntax
- if condition:
    - statements goes here

In [57]:
# read your name from user and 
# print hello if it is even length otherwise print welcome

In [60]:
a=input("enter your name:")
b=len(a)
if b%2==0:
     print("hello")
else:
     print("welcome")

enter your name:suma
hello

In [63]:
# read 3 digit  number from user 
# if the sum of digits b/w 15 and 30 print your name
# otherwise print your friend name

In [66]:
9+8+7 :987

SyntaxError: illegal target for annotation (<ipython-input-66-6315b319dd37>, line 1)

In [65]:
print('hi');9,9,8

hi

(9, 9, 8)

In [70]:
num= int(input())
a = num%10
num= num/10
b= num%10
num = num/10
c = num%10 
sum = a+b+c
if(15<sum and sum<30):
    print("sruthi")
else:
    print("Anitha")

    # implementing c login in python;, loops()

90
Anitha

In [72]:
num=int(input())
if num in range(100,999):
    print("myself")
else:
    print("friend")

89
friend

In [78]:
# elif
# read 3 values from user
# biggest one among 3 ;a,b,c=90,67,104
a,b,c=int(input()),int(input()),int(input())
# -ve and +ve
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

-18
-8
-10
-8

In [80]:
# read a char from user
# if it is vowel print college name
# othewise print your house location

In [ ]:
a=int(input) # 70,89,105
b=int(input)
c=int(input)
if (a>b):
  If (a>c):
  Print('a is bigger')
  Else:
  Print('c us bigger')
Elif (b>c):
 Print(b is bigger')
Else:
 Print(c us bigger'

In [84]:
b = input()
if ((b=='a')|(b=='e')|(b=='i')|(b=='o')|(b=='u')):
    print("GVPCE(A)")
else:
    print("Bobbili")

e
GVPCE(A)

In [89]:
a="aeiouAEIOU"
ch=input()
if len(ch)==1:
    if ch in a:
        print("gvpce")
    else:
        print("vsp")
else:print("invalid input")

r
vsp

In [93]:
a="aeiouAEIOU"
ch=input()
if len(ch)==1:
    if ch in a[:5]:
        print("lowercase vowel")
    elif ch in a[5:]:
        print("uppercase vowel")
    else:
        print("consonant")
else:
    print("invalid input")

j
consonant

##### loops
- iterating statement(for,while)
- iterating the iterable(len>1) using the iterator

In [94]:
# 5>1(1 for 5 times)
#print your name for 5 times priyanka:8:20(20times)

In [95]:
print("hi")
print('hi')
print('hi') # 3 times print

hi
hi
hi

#### print the numbers from to 10
range()
#### python object that can store a range of values/data

In [96]:
range(10) # range(upper bound) starts from 0 by default

range(0, 10)

In [97]:
range(10,21) # 10 to 20 :21 is exclusive

range(10, 21)

range(start,stop,step_count)

In [98]:
range(10,100,7)

range(10, 100, 7)

In [99]:
for num in range(10):
    print(num) # 10 times executed

0
1
2
3
4
5
6
7
8
9

In [100]:
for val in range(1,6): # 1,2,3,4,5
    print("vanitha")

vanitha
vanitha
vanitha
vanitha
vanitha

In [102]:
for val in range(10,100,7):
    print(val,end=" ")

10 17 24 31 38 45 52 59 66 73 80 87 94

In [103]:
val=range(10,100,7)
print(*val,sep=",")

10,17,24,31,38,45,52,59,66,73,80,87,94

In [104]:
# * mutliple
print(*range(10,100,7),sep=",")

10,17,24,31,38,45,52,59,66,73,80,87,94

In [105]:
# print first char of your name using *
# ASHOK:A,S,Q
print("     *")
print("   *   *")
print('  * *** *')
print(' *       *')
print('*         *')

     *
   *   *
  * *** *
 *       *
*         *

In [106]:
print("***********")
print("*         *")
print("*")
print("***********")
print("          *")
print("*         *")
print("***********")

***********
*         *
*
***********
          *
*         *
***********

In [109]:
#try regular shape of s
print("* * * *")
print("   *   ")
print("   *   ")
print("*  *   ")
print(" * *   ")

* * * *
   *
   *
*  *
 * *

In [127]:
print("  * *")
print("*    *")
print(" *")
print("   *")
print("     *")
print("*    *")
print(" * *")
# pattern

  * *
*    *
 *
   *
     *
*    *
 * *

In [128]:
#in the reverse we can iterate

In [136]:
# 3 digit value and sum :15 and 30--
num=input() # number in str
sm=0
for val in num:
    #print(val)
    sm+=int(val)
if sm in range(15,31):
    print("myself")
elif sm in range(16):
    print("friend")
else:
    print("enemy")

#-671(int,-)

000
friend

In [137]:
val=int(input())
val

-871

-871

In [138]:
int('834')

834

In [139]:
int('-')

ValueError: invalid literal for int() with base 10: '-'